@import "../../themes/ionic.globals";

// Picker Column
// --------------------------------------------------
.picker-col {
  display: flex;
  position: relative;

  flex: 1;
  justify-content: center;

  height: 100%;
  box-sizing: content-box;

  contain: content;

  transform-style: preserve-3d;
}

.picker-opts {
  position: relative;

  flex: 1;

  max-width: 100%;
}

.picker-opts::-webkit-scrollbar {
  display: none;
}

// temp
.picker-opt.picker-opt-liam {
  scroll-snap-align: none !important;

  pointer-events: none;

  width: 100%;
  height: 85px;
}

.picker-opt {
  @include margin(0);

  display: block;

  width: 100%;

  border: 0;

  text-align: center;
  text-overflow: ellipsis;
  backface-visibility: hidden;
  pointer-events: auto;

  white-space: nowrap;

  background: transparent;
  color: inherit;

  contain: strict;
  overflow: hidden;
  will-change: transform;

  transition-timing-function: ease-out;

  scroll-snap-align: center;
}

.picker-opt.picker-opt-disabled {
  pointer-events: none;
}

.picker-opt-disabled {
  opacity: 0;
}

.picker-opts-left {
  justify-content: flex-start;
}

.picker-opts-right {
  justify-content: flex-end;
}

.picker-opt {
  &:active,
  &:focus {
    outline: none;
  }
}

.picker-prefix {
  position: relative;

  flex: 1;

  text-align: end;

  white-space: nowrap;
}

.picker-suffix {
  position: relative;

  flex: 1;

  text-align: start;

  white-space: nowrap;
}

.picker-prefix,
.picker-suffix,
.picker-opts {
  overflow-y: auto;

  scroll-snap-type: y proximity;

  transform-style: preserve-3d;

  color: inherit;

  -webkit-overflow-scrolling: touch;
}
