@import "./picker-column";
@import "../picker/picker.ios.vars";

// iOS Picker Column
// --------------------------------------------------

.picker-col {
  @include padding($picker-ios-column-padding-top, $picker-ios-column-padding-end, $picker-ios-column-padding-bottom, $picker-ios-column-padding-start);
}

.picker-prefix,
.picker-suffix,
.picker-opts {
  font-size: $picker-ios-option-font-size;

  line-height: $picker-ios-option-height;
}

.picker-opt {
  @include padding($picker-ios-option-padding-top, $picker-ios-option-padding-end, $picker-ios-option-padding-bottom, $picker-ios-option-padding-start);
  @include transform-origin(center, center);

  height: 46px;

  transform-style: preserve-3d;

  font-size: $picker-ios-option-font-size;

  line-height: $picker-ios-option-height;
}
